button.btn.btn-link.waves-effect(
  type='button',
  esn-modal-launcher='/contact/app/contact/action/copy/contact-action-copy-dialog.html',
  backdrop='static'
)
  i.mdi.mdi-content-copy
  | {{ 'Copy to' | translate }}
