.modal.full-screen.contact-action-copy-dialog(ng-init='$ctrl.listPossibleDestinations()')
  form(name="form", esn-submit="$hide(); $ctrl.copyContact()")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title {{ 'Copy contact' | translate }}
        .modal-body
          .text-center(ng-if='!$ctrl.availableAddressbookDisplayShells', openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.3')
          div(ng-if='$ctrl.availableAddressbookDisplayShells')
            span {{ 'Create a new contact with the same information as the selected contact.' | translate }}
            br
            br
            h5 {{ 'Select destination address book:' | translate }}
            md-select(
              ng-model='$ctrl.selectedAddressbook',
              md-container-class="md-select-on-dialog",
              md-menu-backdrop-fix
            )
              md-option(ng-repeat="addressbookDisplayShell in $ctrl.availableAddressbookDisplayShells", ng-value="addressbookDisplayShell.shell")
                | {{ addressbookDisplayShell.displayName }}
        .modal-footer
          button.btn.btn-link(type='button', ng-click='$hide()') {{ 'Cancel' | translate }}
          button.btn.btn-primary(type='submit') {{ 'Copy' | translate }}
