.modal.full-screen
  form.modal-dialog(name="form", ng-if="$ctrl.addressbook", esn-submit="$hide(); $ctrl.onSaveBtnClick();")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="{{ 'Close' | translate }}", ng-click="$hide()")
          span(aria-hidden="true") &times;
        h4.modal-title {{ 'Edit address book' | translate }}
      .modal-body.p-t-20
        esn-form-group(label="{{ 'Name' | translate }}")
          input.form-control(type="text", ng-model="$ctrl.addressbook.name", name="addressbookName", autofocus, required)
      .modal-footer.flex
        .flex-vertical-centered.flex-end
          button.btn.btn-link(type="button", ng-click="$hide()")
            | {{ 'Cancel' | translate }}
          button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || form.$pristine || form.$pending")
            | {{ 'Save' | translate }}
