.modal.full-screen(tabindex="-1", role="dialog")
  form(name="form", esn-submit="$hide(); $ctrl.onCreateBtnClick()")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", ng-click="$hide()") &times;
          h4.modal-title {{ 'New address book' | translate }}
        .modal-body.p-t-20
          esn-form-group(label="{{ 'Name' | translate }}")
            input.form-control(type="text", ng-model="$ctrl.addressbook.name", name="addressbookName", autofocus, required)
        .modal-footer
          button.btn.btn-link(type="button", ng-click="$hide()") {{ 'Cancel' | translate }}
          button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") {{ 'Create' | translate }}
