button.btn.btn-link.waves-effect(
  type='button',
  esn-modal-launcher='/contact/app/contact/action/move/contact-action-move-dialog.html',
  backdrop='static'
)
  i.mdi.mdi-folder-move
  | {{ 'Move to' | translate }}
