a
  img(ng-class="{'esn-avatar': listView, 'clickable': editable}" ng-src='{{displayShell.getAvatar(avatarSize)}}' fallback-src="{{displayShell.getDefaultAvatar()}}", alt="{{ 'Profile Picture' | translate }}")
  i.mdi.i-contact-list(ng-class="displayShell.getOverlayIcon()")

